body {
    background: black;
}

input {
    margin: 6px 9px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid greenyellow;
    border-left: 1px solid greenyellow;
    background: transparent;
    color: greenyellow;
}